@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: white;
  color: #0f172a;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dark body {
  background-color: #020617;
  color: white;
}